#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#include "keymap.h"

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        login: login {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N3 &kp N9 &kp LS(H) &kp O &kp T &kp S &kp P &kp A &kp C &kp E>;
            label = "LOGIN";
        };

        bitw: bitw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(I) &kp N &kp N &kp U &kp E &kp N &kp D &kp O &kp AT &kp N3 &kp N6 &kp N6 &kp N4>;
            label = "BITW";
        };

        cursor_speed_up: cursor_speed_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp PG_UP>;  // `Page Up` を押して速度アップ-,
            label = "CURSOR_SPEED_UP";
        };

        cursor_speed_down: cursor_speed_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&inc_dec_kp PAGE_DOWN>;
            label = "CURSOR_SPEED_DOWN";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp JP_Q             &kp JP_W         &kp JP_E         &kp JP_R                          &kp JP_T                                                        &kp JP_Y        &kp JP_U  &kp JP_I     &kp JP_O     &kp JP_P
&kp JP_A             &kp JP_S         &kp JP_D         &kp JP_F                          &kp JP_G        &kp LC(V)                        &kp JP_EQUAL      &kp JP_H        &kp JP_J  &kp JP_K     &kp JP_L     &kp JP_MINUS
&mt LEFT_SHIFT JP_Z  &kp JP_X         &kp JP_C         &kp JP_V                          &kp JP_B        &kp LC(C)                        &kp JP_PLUS  &kp JP_N        &kp JP_M  &mkp MB1  &mkp MB2  &lt 5 JP_COMMA
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt_to_layer_0 1 JP_MHEN  &lt 2 SPACE  &lt_to_layer_0 3 JP_HENK      &kp BACKSPACE  &lt 2 ENTER                             &mt RIGHT_SHIFT JP_DOT
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;

        };

        NUM {
            bindings = <
&kp JP_LPAR  &kp JP_RPAR  &kp JP_MINUS     &kp JP_CARET         &kp JP_YEN                               &kp JP_SLASH     &kp N7  &kp N8  &kp N9  &kp JP_MINUS
&kp JP_SEMI         &kp JP_COLON              &kp JP_AT   &kp JP_LBKT  &kp JP_RBKT  &kp ESCAPE      &trans  &kp JP_ASTRK  &kp N4  &kp N5  &kp N6  &kp JP_PLUS
&kp LEFT_SHIFT        &kp JP_COMMA              &kp JP_DOT    &kp JP_SLASH         &kp JP_BSLH     &kp TAB         &trans   &kp N0        &kp N1  &kp N2  &kp N3  &kp JP_DOT
&kp LEFT_CONTROL      &kp LEFT_WIN           &kp LEFT_ALT  &trans            &trans             &trans          &trans   &trans                                &mt RIGHT_SHIFT JP_EQUAL
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LG(LS(LEFT_ARROW))  &kp LG(LS(RIGHT_ARROW))  &kp F9  &kp F10                           &kp PRINTSCREEN  &kp LC(LG(LEFT_ARROW))  &kp LG(LC(D))   &kp LG(LC(RIGHT_ARROW))  &kp LS(LG(S))
&kp TAB         &kp LG(TAB)             &kp LG(LC(TAB))          &kp F6  &kp F7   &kp F8       &kp HOME    &kp PAGE_UP      &mkp MB4                &kp UP_ARROW    &mkp MB5                 &mkp MB3
&kp LEFT_SHIFT  &kp JP_MHEN        &kp JP_HENK           &kp F4  &kp F5   &kp F11      &kp END     &kp PAGE_DOWN    &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &login
&kp LCTRL       &kp LEFT_WIN            &kp LEFT_ALT             &trans  &trans   &trans       &kp DELETE  &trans                                                                            &bitw
            >;
        };

        BT {
            bindings = <
&trans          &trans                  &trans  &trans                   &trans                       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans          &trans                  &trans  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans        &trans        &trans        &trans        &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans  &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &cursor_speed_down        &cursor_speed_up        &trans        &trans        &bt BT_CLR
&trans          &trans                  &trans  &trans                   &trans   &trans      &trans  &trans                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
